* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
#easy{
    color: green;
    font-family: cursive;
    font-size: larger;
}

#mod
{
    color:orange;
    font-family: cursive;
    font-size: larger;
}

#hard{
    color:red;
    font-family: cursive;
    font-size: larger;
}


ul > li 
{
    cursor: pointer;
    width:min-content;
}